@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Slab Bold'), local('JosefinSlab-Bold'), url(/static/fonts/NbE6ykYuM2IyEwxQxOIi2Hl4twXkwp3_u9ZoePkT564.woff) format('woff');
}

hr {
    border: 0;
    height: 3px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.btn-fundfind-orange {
    background-color: #f15a2b;
    border-color: white;
}


.motif {
    z-index: 0;
}

.no-padding,
.facet-view-simple .col-md-3 {
    padding-left: 0;
    padding-right: 0;
}

.suggestion {
    margin-right: 7px;
}

.pagination ul {
    list-style-type: none;
    padding: 0;
}

.pagination,
.pagination ul {
    width: 100%;
}

.pagination li {
    display: inline-block;
}

.pagination li.prev,
.pagination li.next {
    width: 10%;
}

.pagination li.next {
    text-align: right;
}

.pagination li.active {
    width: 75%;
    text-align: center;
}

@media (min-width: 992px) {
	.nav.navbar-nav {
		bottom: 0;
	}
    
    .navbar-nav>li>a {
        padding-top: 0;
    }
}

/*** HEADER AND NAV ***/
.navbar-brand {
    padding-bottom: 0;
}

#bs-example-navbar-collapse-1 {
    margin-top: 150px;
}

/*** SEARCH ***/
/*.facetview_search_options_container .btn {*/
#facetview .btn {
    padding: 6px;
}

.facetview_filtershow {
    line-height: 35px;
}

#facetview a {
    color: #333;
}

#facetview_selectedfilters {
    margin-top: 1em;
}


/*** SHARE OPPORTUNITY ***/
.radio-inline.compact {
    padding-left: 0;
}


/*** OVERRIDES OF THE ABOVE ***/
#facetview a.view_details {
    color: #4cbce5;
}
