{% extends "base.html" %}

{% block content %}

<h3>User: {{current_user['id']}}</h3>

<ul>
<li>API key: {{current_user['api_key']}}</li>
<li>E-mail: {{current_user['email']}}</li>
<li>Country: {{current_user['country']}}</li>
<li>Organisation: {{current_user['organisation']}}</li>
<li>Department: {{current_user['department']}}</li>
<li>Research Group: {{current_user['research_group']}}</li>
<li>Research interests:
    {% if current_user['interests'] %}
        <ul>
        {% for interest in current_user['interests'] %}
            <li>{{ interest }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</li>
</ul>

<h3><a href="#">Click here</a> to view your contributions.</h3>

{% endblock %}
