{% extends "/base.html" %}

{% block content %}

{% if page == "api" %}
<div class="row-fluid">
    <div class="span12">
        <h1>Use the FundFind API</h1>
        Documentation coming soon! Let's get some users first and convince
        some funders to start with at least a basic data dump, which will be
        pushed into the FundFind index by <a
            href="https://github.com/emanuil-tolev/fundingharvest"
            target="_blank">Funding Harvest</a>.
    </div>
</div>

{% endif %}
{% endblock %}
