{% extends "base.html" %}

{% block content %}
  <div class="stripe gray">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ">

            <h1>FundFind lets you share funding opportunities!
            </h1>
            <p>Are you a scholar? A postgrad or an academic? Science or Humanities? FundFind's got it all - share and look for funding!</p>	

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <a class="block find" href="/search">
          <span class="block-icon">
          <span class="glyphicon glyphicon-search"></span>
          </span>
          <!--<span class="block-text">Find Current Funding Opportunities</span>-->
          <span class="block-text">Find Current Funding Opportunities</span>
          <span class="block-arrow"><span class="arrow"></span></span>
        </a>
        <a class="block share" href="/share_fundopp">
          <span class="block-icon">
          <span class="glyphicon glyphicon-share"></span>
          </span>
          <span class="block-text">Share funding opportunities 
              or information about funders</span>
          <span class="block-arrow"><span class="arrow"></span></span>
        </a>
      </div>

        <div class="col-md-4">
          <form class="form-signin">
            <h2 class="form-signin-heading"> <span class="detail_orange"></span>Quick Login</h2>
            <input type="text" class="form-control" placeholder="Email address" required="" autofocus="">
            <input type="password" class="form-control" placeholder="Password" required="">
            <label class="checkbox">
              <input type="checkbox" value="remember-me"> Remember me
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit"><h2>Sign in</h2></button>
          </form>
          <button class="btn btn-lg1 btn-block" type="submit"><h2> <span class="detail_blue"></span> No Account? 
            Register here!</h2></button>
            <button class="btn btn-lg2 btn-primary btn-block" type="redirect"><h2>Feedback</h2> <p>How are we doing?</p></button>
        </div>
    </div>
  </div>
{% endblock %}

{#
{% block content %}

      <div class="hero-unit">
        <p>FundFind lets you share funding opportunities!</p>
        <p>Are you a scholar? A postgrad or an academic? Science or Humanities? FundFind's got it all - <a href="{{ url_for('share_fundopp') }}">share</a> and <a href="{{ url_for('search') }}">look for funding!</p>
      </div>

      <div class="row-fluid">
        <div class="span3 column" style="margin-left:0;">
          <div class="alert block-message alert-info">
          <h2>Browse</h2>
          <p>Have a look at the funding opportunities we've got. Advanced search.</p>
          <p><a href="/search" class="btn">Browse &raquo;</a></p>
          </div>
        </div>
        <div class="span3 column">
          <div class="alert block-message alert-info">
          <h2>Tell</h2>
          <p>Share funding opportunities</p>
          <p><a href="/share_fundopp" class="btn">Share Opportunities &raquo;</a></p>
          </div>
        </div>
        <div class="span3 column">
          <div class="alert block-message alert-info">
          <h2>Tell</h2>
          <p>Share information about funders</p>
          <p><a href="/describe_funder" class="btn">Describe Funders &raquo;</a></p>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span3 column">
          <div class="alert block-message alert-info">
          <h2>My account</h2>
          <p>View your account information.</p>
          <p>
          {% if current_user.is_anonymous() %}
            You have to be logged in in order to take advantage of this feature.
          {% else %}
            <a href="/account/{{current_user.id}}" class="btn">My account &raquo;</a>
          {% endif %}
          </p>
          </div>
        </div>
        <div class="span3 column">
          <div class="alert block-message alert-info">
          <h2>Feedback</h2>
          <p>How are we doing?</p>
		  <br />
		  <br />
          <p><a href="https://github.com/emanuil-tolev/fundfind/issues/" target="_blank" class="btn">Feedback &raquo;</a></p>
          </div>
        </div>
      </div>
{% endblock %}
#}
