{% extends "base.html" %}

{% block content %}

      <div class="hero-unit">
        <form action="/search" method="POST" enctype="multipart/form-data">
        <input class="frontin" type="text" name="q" value="Let's fund you..." />
        </form>
        <p>FundFind lets you share funding opportunities!</p>
        <p>Are you a scholar? A postgrad or an academic? Science or Humanities? FundFind's got it all - <a href="/submit">share</a> and look for funding!</p>
        <p>Just type into the box above to start looking for funds for your next exciting scholarly venture.</p>
      </div>

      <div class="row">
        <div class="span4 column">
          <div class="alert-message block-message info">
          <h2>Browse</h2>
          <p>Have a look at the funding opportunities we've got. Advanced search.</p>
          <p><a href="/browse" class="btn">Browse &raquo;</a></p>
          </div>
        </div>
        <div class="span4 column">
          <div class="alert-message block-message info">
          <h2>Tell</h2>
          <p>Share funding opportunities (or record them only for yourself)</p>
          <p><a href="/submit" class="btn">Submit &raquo;</a></p>
          </div>
        </div>
        <div class="span4 column">
          <div class="alert-message block-message info">
          <h2>My account</h2>
          <p>Saved searches, favourite opportunities, visualisations and settings.</p>
          <p><a href="/account" class="btn">My account &raquo;</a></p>
          </div>
        </div>
        <div class="span4 column">
          <div class="alert-message block-message info">
          <h2>Feedback</h2>
          <p>How are we doing?</p>
		  <br />
		  <br />
          <p><a href="/feedback" class="btn">Feedback &raquo;</a></p>
          </div>
        </div>
      </div>
      
{% endblock %}
