{% extends "base.html" %}

{% block content %}
<div class="row-fluid">
    <div class="span12" style="text-align:center">
        <h1>FundFind</h1>
        <p class="lead">For better, open, easier funding of scholarship</p>
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
        <h2 id="what">What?</h2>
        <p class="lead">FundFind is a web application which allows users to share funding opportunities with each other and search through them.</p>
        <p>Scholars can share data with each other or explore funding in their field. Funders can submit their opportunities or improve the records, as well as explore what other funders are offering.</p>
        <p>FundFind is also <a href="https://github.com/emanuil-tolev/fundfind/" target="_blank">open source (MIT License)</a>.</p>
    </div>
    <div class="span6">
        <h2 id="how">How?</h2>
        <h3 id="sharing">Sharing</h3>
        <p>FundFind comes with a couple of simple, intuitive web
        forms which allow registered users to share funding
        information.</p>
        <p>FundFind <a href="{{ url_for('content', path='api') }}">also has an API</a> which can allow funders (e.g.
        HEI-s) to submit information about their funding
        opportunities automatically.</p>
        <h3 id="searching">Searching</h3>
        <p>FundFind includes an intuitive faceted search interface
        which allows users to quickly drill down to the data they're
        interested in. Funding information is analysed on the fly
        (e.g. tags, originating funders) to make up lists of most
        common values to filter on, helping explore data. <a
            href="http://fundfind.cottagelabs.com/search" >Take a look!</a></p>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <h2 id="why">Why?</h2>
        <p class="lead">Because there was nothing which encourages publishing <em>current</em> (not historical) funding data openly.</p>
        <p>There are commercial databases which allow scholars to look for funding opportunities. However, these require whole institutions to agree to expensive licensing terms. But this data should be Open in line with the <a href="http://opendefinition.net" target="_blank">Open Definition principles</a> and the general <a href="http://en.wikipedia.org/wiki/Open_knowledge" target="_blank">Open Knowledge</a> movement.</p>
        <h3 id="public-information">Public information</h3>
        <p>Most of scholarship (in the UK) is funded by public bodies. Something as essential as <em>what funding is available</em> should be available in an openly licensed, machine-friendly format.</p>
        <h3 id="a-better-innovative-sector">A better, innovative sector</h3>
        <p>Open funding data means a better deal for scholars (transparency, potential for huge time savings) as well as funders (reach more scholars).</p>
        <p>It also means a better scholarship sector overall, with a transparent flow of money and plenty of opportunities for visualisation, exploration, analysis and ultimately, improvement of the sector. A lot of potential innovation is simply <strong>not happening</strong> now.</p>
        <h3 id="allowing-exploration">Allowing exploration</h3>
        <p>Young scholars find it difficult to learn about funding in their field as it is difficult to navigate funding information - it is fragmented across multiple funders' websites and no overviews are available.</p>
        <p>Many other people would be interested in exploring
        scholarly funding - digital citizenship afficionados,
        journalists, as well as funders themselves. All of these
        people share one need - analyse (most of) the sector, which is
        very difficult with information isolated in separate funders'
        sites.</p>

        <p>The scholarly funding sector could use a gentle
        touch of modernisation, removing some of the obstacles which
        impede learning.</p>
    </div>
</div>
{% endblock %}
