<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <title>{{ page_title }}</title>
        <meta name="description" content="FundFind">
        <meta name="author" content="Emanuil Tolev">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap-3.0.2/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/design.css') }}">
        <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:700' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container banner">
      <span class="motif"></span>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('home')  }}"><div class="logo"></div></a>
      </div>
      
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li {% if active_page == 'search' %}class="active"{% endif %}><a href="{{ url_for('search') }}"><h2>Find Funding</h2></a></li>
          <li {% if active_page == 'share_fundopp' %}class="active"{% endif %}><a href="{{ url_for('share_fundopp') }}"><h2>Share Funding</h2></a></li>
          <li {% if active_page == 'about' %}class="active"{% endif %}><a href="{{ url_for('about_info') }}"><h2>About</h2></a></li>
          {% if current_user.is_anonymous() %}
              <li><a href="{{url_for('account.register')}}"><h2>Register</h2></a></li>
              <li><a href="{{url_for('account.login')}}"><h2>Login</h2></a></li>
          {% else %}
              <li><a alt="view your account" title="view your account" href="/account/{{current_user.id}}"><h2>My Account</h2></a></li>
              <li><a href="{{ url_for('account.logout') }}"><h2>Logout</h2></a></li>
          {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>

  <div class="alert-messages">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {%if messages %}
    {% for category, message in messages %}
    <div class="alert {% if category %}alert-{{category}}{% endif %} fade in" data-alert="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>

  {%if msg %}
    <div id="fundfind_msg">
      <p> {{msg}} </p>
    </div>
  {% endif %}

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  <div class="container">
    <div class="row footer"><span class="motif-small"></span>
      <ul> 
        <li><a href="{{ url_for('content', path='api') }}">FundFind API</a></li>
        <li><a href="https://github.com/emanuil-tolev/fundfind/" target="_blank">All open source! (get code)</a></li>
        <li>Started by <a href="http://www.cottagelabs.com/people/emanuil" target="_blank">Emanuil Tolev</a></li>
        <li><a href="https://github.com/emanuil-tolev/fundfind/graphs/contributors" target="_blank">More contributors</a></li>

      </ul>
    </div>
  </div>


{% block js_bottom %}
  <script src="{{ url_for('static', filename='vendor/jquery-1.10.2.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap-3.0.2/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/linkify/1.0-modified/jquery.linkify-1.0.js') }}"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
  <script>
      window.scrollback = {
          streams:["fundfind"],
          theme: 'dark',
          ticker: false,
      };

      /***** don't edit below *****/
      (function(d,s,h,e){e=d.createElement(s);e.async=1;
          e.src=h+'/client.min.js';scrollback.host=h;
          d.getElementsByTagName(s)[0].parentNode.appendChild(e);}
      (document,'script',location.protocol+'//scrollback.io'));
  </script>
{% endblock js_bottom %}
</body>
</html>
