{% extends "base.html" %}

{% block content %}
<div class="row-fluid">
    <div class="span12" style="text-align:center">
        <h1>Postgraduate funding community</h1>
        <p class="lead"><a href="http://forum.fundfind.org">We have a community forum! Join us!</a></p>
        <p class="lead">Fundfind is a community initiative to improve postgraduate funding.</p>

        <p class="lead">For prospective postgraduates, the process of searching for funding can be complex and daunting. We want to change this by working with students and institutions to encourage a more open approach to the discussion and sharing of postgraduate funding opportunities.</p>

        <p class="lead">We have built a web application which allows users to share funding opportunities with each other and search through them.</p>

        <p class="lead">Scholars can share data with each other or explore funding in their field. Funders can submit their opportunities or improve the records, as well as explore what other funders are offering.</p>

        <p class="lead">We're small and we're growing. We believe that the only way to solve these problems is by banding together with staff and students to build the right 21st century tools.</p>

    </div>
</div>
{% endblock %}
