{% extends "base.html" %}

{% block content %}
<p>For small issues or if you're short on time, just post a message to
the collapsible chatroom at the bottom right corner of the page. Just
say what didn't work and how you thought it'd work.</p>

<p>For longer feedback, send an e-mail to <a
    href="mailto:emanuil@cottagelabs.com">emanuil@cottagelabs.com</a>.</p>
<p>If you have a GitHub account, you can post an issue at <a
    href="https://github.com/emanuil-tolev/fundfind/issues/"
    target="_blank">https://github.com/emanuil-tolev/fundfind/issues/</a>.</p>
{% endblock %}
