{% extends "base.html" %}

{% block content %}
<div class="row-fluid">
    <div class="span12" style="text-align:center">
        <h1>Support the movement and make staff and students' lives easier.</h1>
        <p class="lead">We're in the early stages of hammering out the best way for people and organisations
            (Colleges, Universities, individual departments, or funding organisations) to partner with us.

        </p>
        <p class="lead">
            <a href="http://tinyurl.com/fundfind-partnership-opts">Here's what we've got so far.</a>
            Open for comments on Google Drive, or talk to us at <a href="mailto:us@fundfind.org">us@fundfind.org</a>.
        </p>

    </div>
</div>
{% endblock %}
