{% extends "base.html" %}

{% block content %}

    <div class="col-md-8">
        <h2 style="text-align:center;">Current Funding Opportunities</h2>
        <div class="facet-view-simple"></div>
    </div>
    <div class="col-md-4">
        <h2>Past Funding Data</h2>
    	<div id="suggestions"></div>
    </div>

{% endblock %}

{% block js_bottom -%}
    {{super()}}

<script type="text/javascript">var es_host = 'localhost:9200';</script>
<script type="text/javascript">var es_index = 'fundfind';</script>

<script type="text/javascript" src="{{ url_for('static', filename='vendor/facetview2/jquery.facetview2.js')}}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/search.js')}}"></script>


  
{%- endblock js_bottom %}
