{% extends "base.html" %}

{% block content %}

<!--<iframe src="/static/vendor/facetview/local.html" style="width: 1000px; height: 450px;"></iframe>-->
<div class="row-fluid">
	<div class="facet-view-simple span8"></div>
	<div id="suggestions" class="span4"></div>
</div>
{% endblock %}

{% block js_bottom -%}
    {{super()}}
	
<script type="text/javascript" src="{{ url_for('static', filename='vendor/facetview/jquery.facetview.js')}}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='vendor/linkify/1.0/jquery.linkify-1.0-min.js')}}"></script>

  <script type="text/javascript">
  
function suggestions_error(msg) {
	$('#suggestions').html(msg);
}

jQuery(document).ready(function($) {

  $('.facet-view-simple').facetview({
    search_url: 'http://localhost:9200/fundfind/_search?',
    search_index: 'elasticsearch',
    datatype: 'json',

    facets: [
        {'field': 'name.exact', 'display': 'Funder Name'},
        {'field': 'title.exact', 'display': 'Opportunity Title'},
    ],
	
    search_sortby: [{'display':'name', 'field':'name.exact'},{'display':'title','field':'title.exact'}],
    searchbox_fieldselect: [{'display':'Opportunity Title','field':'title'},{'display':'Funder Name','field':'name'}],
    paging: {
      size: 10
    },
	result_display: [
		[
			{
				"pre": "<strong>",
				"field": "name",
				"post": "</strong>"
			}
		],
		[
			{
			    "pre": "<strong>Title</strong>: ",
				"field": "title",
			}
		],
		[
			{
			    "pre": "<strong>Unique title</strong>: ",
				"field": "unique_title",
			}
		],
		[
			{
				"pre": "<u>Homepage</u>: ",
				"field": "homepage",
			}
		],
		[
			{
				"field": "description",
			}
		],
		[
			{
			    "pre": "<u>Interested in</u>: ",
				"field": "interested_in",
			}
		],
		[
			{
			    "pre": "<u>Policies</u>: ",
				"field": "policies",
			}
		],
		[
			{
			    "pre": "<u>Tags</u>: ",
				"field": "tags",
			}
		],
		[
			{
			    "pre": "<u>Useful links</u>: ",
				"field": "useful_links",
			}
		]
	]
	
  });
  
	$(document).on('keyup', 'input[name=q]', function() {
	//$('input[name=q]').keyup( function() {
	
		facetview_query = $('input[name=q]')[0].value;
		
		if( facetview_query.trim().length ) {
			var url = '/suggest/projects';
			
			$.get(url, {similar_to:facetview_query}, function(data) {
				if(data.error) {
					suggestions_error(data.error);
					return false;
				}
				
				var suggestion_count = 0;
				
				var suggestions = '';
				suggestion_row_start = '<div class="row-fluid suggestion-row">';
				suggestions = suggestions + suggestion_row_start;
				
				jQuery.each(data.results, function() {
					suggestion_count = suggestion_count + 1;
					
					var title = this.projectComposition.project.title;
					var url = this.projectComposition.project.url;
					var suggestion = '<div class="span4 suggestion column alert block-message alert-info">';
					suggestion = suggestion + '<a href="';
					suggestion = suggestion + url;
					suggestion = suggestion + '" target="_blank">';
					suggestion = suggestion + title;
					suggestion = suggestion + '</a>';
					suggestion = suggestion + '</div>';
					
					if (suggestion_count >= 2) {
						suggestion_count = 0;
						suggestion = suggestion + '</div>';
						suggestion = suggestion + suggestion_row_start;
					}
					
					suggestions = suggestions + suggestion;
				});
				
				suggestions = suggestions + '</div>';
				$('#suggestions').html(suggestions);
			})
			.fail(function() { suggestions_error('Suggestions problem - unknown error with AJAX request.') } )
			;
		}
	});
});
  </script>
  
{%- endblock js_bottom %}